.pilares {
    justify-items: center;
    background-image: linear-gradient(rgba(153, 27, 27, 0.5), rgba(153, 27, 27, 1)), url(../../public/images/casa-campo.jpg);
    background-position: center;
    background-size: cover;
}