@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
}

.container-boton {
  background-color: #2e6329;
  border: 1px solid #fff;
  position: fixed;
  z-index: 999;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  transition: opacity 0.5s ease-in-out;
  animation: efecto 1.2s infinite;
  opacity: 0;
}

.container-boton:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.boton {
  width: 3.5rem;
}

.mostrar {
  opacity: 1;
}

@keyframes efecto {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
  }

  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}

.texto-emergente {
  position: absolute;
  top: 50%;
  right: -200px;
  transform: translateY(-50%);
  opacity: 0;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.container-boton:hover .texto-emergente {
  right: 60px;
  opacity: 1;
}
